{% extends 'base.html.twig' %}

{% block body %}
    <h1>Job</h1>

    <table class="table table-bordered" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ job.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('job_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('job_edit', { 'slug': job.slug }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
