{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <a href="{{ path('user_edit', {
                    id: user.id
                }) }}" class="pull-right btn btn-link">
                    <h3>
                        {% if user.fullName %}
                            {{ user.fullName }}
                        {% else %}
                            {{ user.email }}
                        {% endif %}
                    </h3></a>
                <p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h4>Vacancies Interesting</h4>
                </p>
                <ul>
                    {% for job in user.userJobs %}
                        <li><a href="{{ path('job_show', { 'slug': job.slug }) }}"> {{ job.job.title }} </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


 {#{% for genusScientist in genus.genusScientists %}#}
     {#<li class="list-group-item js-scientist-item">#}
         {#<a href="{{ path('user_show', {#}
             {#'id': genusScientist.user.id#}
         {#}) }}">#}
             {#{{ genusScientist.user.fullName }}#}
             {#({{ genusScientist.yearsStudied }} years)#}
         {#</a>#}

         {#<a href="#"#}
            {#class="btn btn-link btn-xs pull-right js-remove-scientist-user"#}
            {#data-url="{{ path('genus_scientists_remove', {#}
                {#genusId: genus.id,#}
                {#userId: genusScientist.user.id#}
            {#}) }}"#}
         {#>#}
             {#<span class="fa fa-close"></span>#}
         {#</a>#}
     {#</li>#}
 {#{% endfor %}#}